@import '../../../../styles/mixins.scss';
@import '../../../../styles/color.scss';
@import '../../../../styles/fonts.scss';

.paginator {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.3rem;
  column-gap: 0.25rem;
  width: 100%;
  max-width: 34.4rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  &__bot-navigation {
    @include fonts('Lexend', .8rem, $whiteF, 400);
    background-color: $green;
    padding: 0.2rem;
    border-radius: .25rem;
  }
}