$green: #00F600;
$lite_pink:#FF48F8;
$pink2: #FF92FB;
$dark_pink: #C926C2;
$black_lite: #000000;
$black:#303030;
$whiteF :#FFFFFF;
$gray:#ECECEC;
$whiteFC: #FCFCFC;
$grayF9:#F9F9F9;
$F8:#F8F8F8;
$gray_black: #D9D9D9;
$red_lite:#F44336;
