@mixin flex($direction, $justify_content, $align: stretch) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify_content;
	align-items: $align;
}

@mixin UL() {
	margin-left: 0;
	padding-left: 0;
}

@mixin fonts($font, $size, $color, $weight, $display: swap) {
	font-display: $display;
	font-family: $font, sans-serif;
	font-size: $size;
	font-weight: $weight;
	color: $color;
}

@mixin error-message {
	color: '#D35A63';
	font-family: 'RobotoBlack';
	font-size: 0.8rem;
	letter-spacing: -0.02rem;
	color: $error-message;
}

@mixin grid-columns($columns...) {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: $columns;
}

@mixin grid-rows($rows...) {
	display: grid;
	grid-template-rows: $rows;
	grid-template-columns: 1fr;
}

@mixin grid($rows, $columns) {
	display: grid;
	grid-template-rows: $rows;
	grid-template-columns: $columns;
}
