@import '../../../../styles/color.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/mixins.scss';

.container-password {
  @include flex(column, space-between, center);
  width: 100%;
  background-color: transparent;

  .input-password {
    width: 100%;
    padding: 2.5% 2%;
    border: 1px solid #cccccc;
    width: 100%;
    border-radius: 20px;
    @include flex(row, center, center);
  
    &.isNotValid {
      border: 1px solid $red_lite;
    }
  
    &__container {
      @include flex(row, space-between, center);
      width: 94%;
  
      .form-input {
        width: 80%;
        border: none;
  
        &:focus {
          outline: none;
        }
      }
  
      .eye {
        display: flex;
        min-width: 1.25rem;
        min-height: 1.25rem;
        background-color: transparent;
      }
    }
  }

  .validMessage {
    background-color: transparent;
    width: 100%;
    
    .requirements {
      @include fonts('Montserrat', .7rem,  $red_lite, 500);
      margin-left: 0.5rem;
      background-color: transparent;

    }
  }
}

@media(max-width: 500px) {
  .container-password
  .validMessage {
    .requirements {
      font-size: .6rem;
    }
  
  }
}

