@import '../../../../styles/color.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/mixins.scss';

.container-input {
  @include flex(column, normal, normal);
  width: 100%;
  max-width: 500px;
  
  .title {
    margin-bottom: .5rem;
    margin-left: .7rem;
    font-size: 14px;
  }

  .mask {
    width: 100%;
    @include flex(column, space-between, center);
    min-height: 25px;

    &.isNotValid {
      border: 1px solid $red_lite;
    }

    .form-input {
      width: 90%;
      border: none;
      min-height: 25px;

    
      &:focus {
        outline: none;
      }
    }
  }

}