@import '../../../../styles/color.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/mixins.scss';
 
.confirmation-messages{
  @include flex(column, space-between, center);
  height: 100%;

  &__title {
    @include fonts('Montserrat', 1rem, $black, 500);
  }

  &__message {
    @include fonts('Montserrat', 1.2rem, $black, 500);
    text-align: center;
    margin-top: 1rem;
  }

  &__footer {
    @include flex(row, space-between, flex-start);
    margin-top: 1rem;
    width: 100%;
  }
}

 @media(max-width: 500px) {
  .confirmation-messages {
    &__message {
      font-size: 1rem;
    }
  }
 }