@import '../../../../styles/color.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/mixins.scss';

 .short-story{
  @include flex(column, space-between, flex-start);
  filter: drop-shadow(0px 13px 9px rgba(0, 0, 0, .04));
  padding: 1rem;
  border-radius: 20px;

  &__header {
    @include flex(row, space-between, center);
    width: 100%;

    .delete-cart {
      min-width: 1.25rem;
      min-height: 1.25rem;
      .close {
        position: relative;
        display: block;
      }

      .close::after {
        position: relative;
        display: block;
        width: 100%;
        height: 2px;
        background-color: $green;
        top:-2px;
        transform:rotate(-45deg);
        content: '';
      }
  
      .close::before {
        position: relative;
        display: block;
        height: 2px;
        background-color: $green;
        bottom:0;
        transform:rotate(45deg);
        content: '';
      }
      
    }

    .title {
      text-align: left;
      @include fonts('Montserrat', 1rem, $green, 600);
    }
  }

  &__main {
    @include flex(row, normal, flex-start);
    margin-top: .5rem;
    width: 100%;

    .poster{
      width: 61%;
      max-width: 45%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .info {
      @include flex(column, flex-start, flex-start);
      margin-left: .2rem;

      &__title {
        @include fonts('Montserrat', 1rem, $lite_pink, 500);
      }

      &__item {
        @include fonts('Montserrat', .9rem, $black, 400);
        max-width: 82%;
      }
    }

  }

  &__description {
    @include fonts('Montserrat', 1rem, $black, 500);
    margin: 1rem 0;
    width: 50%;
  }
}

@media(max-width: 1000px) {
  .short-story {
    &__description {
      width: 100%;
    }
  }
}

@media(max-width: 500px) {
  .short-story {
    align-items: center;
    width: 99%;
    .short-story__header
    .title {
      font-size: .9rem;
    }

    .short-story__main 
    .info {
      &__title,
      &__item {
        font-size: .7rem;
      }
    }

    &__description {
      font-size: .6rem;
    }
  }
}