@import '../../../../styles/color.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/mixins.scss';

 .short-story{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  filter: drop-shadow(0px 13px 9px rgba(0, 0, 0, .04));
  padding: 1rem;
  border-radius: 20px;

  &__header {
    display: flex;
    width: 100%;

    .title {
      text-align: left;
      @include fonts('Montserrat', 1rem, $green, 600);
    }
  }

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    margin-top: 0.5rem;
    width: 100%;

    .poster{
      width: 61%;
      max-width: 45%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .info {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      margin-left: 0.2rem;
      // width: 50%;
      

      &__title {
        @include fonts('Montserrat', .8rem, $lite_pink, 500);
      }

      &__item {
        @include fonts('Montserrat', .8rem, $black, 400);
        max-width: 82%;
      }
    }

  }

  &__description {
    @include fonts('Montserrat', 1rem, $black, 500);
    margin: 1rem 0;
    width: 98%;
  }
}

@media(max-width: 500px) {
  .short-story {
    align-items: center;
    width: 99%;
    .short-story__header
    .title {
      font-size: .9rem;
    }

    .short-story__main 
    .info {
      &__title,
      &__item {
        font-size: .7rem;
      }
    }

    &__description {
      font-size: .6rem;
    }
  }
}