.container-forms {
  &.sing_in {
    .container-forms__form {

      .container-input {
        margin-top: 4rem;
      }
      .container-password {
        margin-top: 1.5rem;
      }
    
      .btn {
        position: absolute;
        bottom: 13%;
      }
    }
  }
}
