.container-forms
.container-forms__form {

  .container-input {
    margin-top: 1rem;
  }
  .container-password {
    margin-top: 1rem;
  }

  .btn {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
}