@import '../../../../styles/color.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/mixins.scss';

.container-input {
  @include flex(column, normal, normal);
  width: 100%;


  &__container {
    @include flex(column, normal, normal);
    max-width: 500px;
    border-radius: 20px;
    border: '1px solid #cccccc';

    &.isNotValid {
      border: 1px solid $red_lite;
    }

    .title {
      margin-bottom: .5rem;
      margin-left: .7rem;
      font-size: 14px;
    }
  
    .mask {
      width: 100%;
      @include flex(column, space-between, center);
      min-height: 25px;
  
      &.isNotValid {
        border: 1px solid $red_lite;
      }
  
      .form-input {
        width: 94%;
        border: none;
        min-height: 25px;
  
      
        &:focus {
          outline: none;
        }
      }
    }
  }

  .validMessage {
    background-color: transparent;
    width: 100%;
    margin-top: .3rem;

    .requirements {
      @include fonts('Montserrat', .7rem,  $red_lite, 500);
      margin-left: 1rem;

    }
  }
}