@import '../../../../styles/color.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/mixins.scss';

.container-input {
  @include flex(column, normal, normal);
  width: 100%;
  background-color: transparent;

  &__container {
    @include flex(column, normal, normal);
    max-width: 500px;
    border-radius: 20px;
    border: 1px solid #cccccc;

    &.isNotValid {
      border: 1px solid $red_lite;
    }

    .title {
      margin-bottom: .5rem;
      margin-left: .7rem;
      font-size: .875rem;
    }
  
    .mask {
      width: 100%;
      @include flex(column, space-between, center);
      min-height: 1.56rem;

      .form-input {
        width: 94%;
        border: none;
        min-height: 1.56rem;
  
      
        &:focus {
          outline: none;
        }
      }
    }
  }

  .validMessage {
    background-color: transparent;
    width: 100%;
    margin-top: .2rem;

    .requirements {
      @include fonts('Montserrat', .7rem,  $red_lite, 500);
      margin-left: 0.5rem;
      background-color: transparent;

    }
  }
}

@media(max-width: 500px) {
  .container-input 
  .validMessage {
    .requirements {
      font-size: .6rem;
    }
  
  }
}